{% load static %}
<div class="user-dashboard"><br><br>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 gutter">

                            <div class="sales" style="text-align:center;">
                                <h2>Total Comment</h2>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 gutter">

                            <div class="sales report">
                                <h2>Report</h2>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 gutter">

                            <div class="sales report">
                                <h2>Report</h2>
                            </div>
                        </div>
                    </div>
                </div>