{% load static %}

                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-6">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <!--<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>-->
                                    <!--<li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>-->
                                    <li class="dropdown">
                                        <a href="#" class="dropdown" data-toggle="dropdown"><img src="{{request.user.image.url}}" alt="{{request.user}}">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>{{acc}}</span>
                                                    <p class="text-muted small">
                                                        {{request.user.email}}
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <form action='{% url "account:imagechange" %}' method="POST" enctype="multipart/form-data" name="image">
                                                        {% csrf_token %}
                                                        <input type="file" name="image"><br>
                                                        <button class="btn-primary primary">Update Profile Picture</button>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
