{% extends 'master/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
{% block body %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'assets/css/customize.css' %}" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
           {% include 'includes/sidenav.html' %}

<div class="row">
                    <header>
                        <div class="col-md-6">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">

                                    <!--<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>-->
                                    <!--<li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>-->
                                   {% include 'includes/nav-dropdown.html' %}
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
            <center><h2>Are you sure you want to delete product named <br><strong>"{{product_delete}}"</strong>?</h2></center><br>
            <form method="POST" action="{% url 'product:product_delete' product_delete.slug %}" style="position:relative; margin-left:45%;">
                {% csrf_token %}
                <input type="submit" class="primary-btn btn-danger">
                <a href="{% url 'account:dashboard' request.user.id %}">Cancel</a>
            </form>

            </div>
        </div>

    </div>
    <hr style="color:black;">
{% endblock %}
{% block js %}
    <script>
        $('.delete_icon').click(function(e) {
});
        });
    </script>
{% endblock %}