{% extends 'master/base.html' %}
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} Search Result {% endblock %}

</head>
{% block body %}
<br>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
<br><br><br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="left:20%;">
                <form method="POST">
                    {{form.new_password1.label}}
                    {{form.new_password1|add_class:'form-control'}}
                    {{form.new_password2.label}}
                    {{form.new_password2|add_class:'form-control'}}

                    {% csrf_token %}
                    <p>Please type your registered email address to reset your password</p>
                    <hr/>
                    <button type="submit" class="btn btn-primary">Reset Password</button><br>
                </form>

            </div>
        </div>
    </div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}